@font-face {font-family:ITC Avant Garde Gothic Medium;
	src: url(./fonts/itc-avant-garde-gothic-medium.otf);}

.home_content {
	overflow: hidden;
}
.header {
	position: relative;
	background-color: #001826;
	overflow: hidden;
}
.header:after,
.header:before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 103px;
	height: 85px;
	background: url(./img/constellation.png) no-repeat;
	background-size: contain;
	z-index: 99;
}
.header:after {
	top: 8%;
	right: 13%;
}
.header:before {
	display: none;
}
.header_content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 9;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: rgba(0, 24, 38, .8) url(./img/global.png) no-repeat center;
	background-size: auto 104%;
	text-align: center;
	color: #fff;
}
.header_heading {
	line-height: 74px;
	font-size: 52px;
	/* font-size: 4.2vw; */
	line-height: 1.4;
	color: #fff;
	font-weight: bold;
	padding: 0 4% 30px;
	text-transform: uppercase;
	font-family: ITC Avant Garde Gothic Medium;
	font-weight: 400;
	letter-spacing: 2px;
	transition: all .1s linear;
}
.header_text {
	font-size: 29px;
	line-height: 45px;
	color: #1cbeca;
	/* font-size: 2.6vw; */
	font-weight: bold;
	line-height: 1.4;
	width: 84%;
	max-width: 600px;
	text-transform: uppercase;
	/* margin-bottom: 3.4%; */
	margin-bottom: 50px;
	font-family: ITC Avant Garde Gothic Medium;
	font-weight: 400;
	letter-spacing: 2px;
}
.header_button {
	cursor: pointer;
	border: 2px solid rgba(28, 190, 202, 1);
	font-size: 16px;
	line-height: 32px;
	font-weight: 400px;
	letter-spacing: 1px;
	font-family: ITC Avant Garde Gothic Medium;
	padding: 10px 40px 8px;
	background: rgba(28, 190, 202, 0);
	transition: all .3s ease-out;
}
.header_button:hover {
	color: #fff;
	background: rgba(28, 190, 202, 1);
}
.header_iframe {
	height: 780px;
}
.header_iframe > div {
	height: 100%;
}
.header_iframe > div > div{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media screen and (max-width: 1400px) {
	.header_iframe > div > div {
		padding-bottom: 780px!important;
		top: 0;
		left: 0;
		transform: none;
	}
	.header_iframe iframe{
		width: 1400px!important;
		left: 50%!important;
		top: 50%!important;
		transform: translate(-50%, -50%);
	}
}

.about {
	background: #001826 url(./img/constellation.png);
	background-repeat: no-repeat;
	background-position: 4% 50%;
	padding: 30px 0;
	position: relative;
}
.about_content {
	width: 746px;
	max-width: 90%;
	margin: 0px auto;
}
.about_text {
	color: #fff;
	text-transform: uppercase;
	line-height: 42px;
	font-size: 19px;
	text-align: center;
	font-family: 'Quicksand';
	font-weight: 400;
	border-bottom: 2px solid #fff;
	padding-bottom: 25px;
}
.about_icons {
	text-align: center;
	margin: 35px 0;
}
.about_icons li{
	display: inline-block;
	margin: 15px 20px;
}

.subscribe_form{
	padding: 45px 0 55px;
	min-height: 80px;
	position: relative;
	box-sizing: content-box;
}
.subscribe_text {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;
	color: #1cbeca;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 10px;
	font-family: ITC Avant Garde Gothic Medium;
}
.subscribe_fields button,
.subscribe_fields input{
	border: 1px solid #fff;
	color: #fff;
	height: 45px;
	background: transparent;
	padding: 0 10px;
	font-family: ITC Avant Garde Gothic Medium;
	font-size: 12px;
	letter-spacing: 1px;
}
.subscribe_fields button {
	float: right;
	text-transform: uppercase;
	width: 29%;
}
.subscribe_fields input {
	float: left;
	width: 70%;
}
.subscribe_congratulation {
	color: #fff;
	position: absolute;
	left: 35px;
	bottom: 35px;
	font-size: 20px;
	font-family: ITC Avant Garde Gothic Medium;
	font-weight: 400;
	line-height: 58px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.subscribe_error {
	font-family: Raleway;
	font-weight: 300;
	color: #1cbeca;
	font-size: 11px;
	line-height: 16px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 30px;
}

.team {
	padding: 30px 4%;
	background-image: url(./img/bg_logo.png);
	background-repeat: no-repeat;
	background-position: 130% 40%;
}
.team_logo {
	margin: 30px 0;
	text-align: center;
}
.team_logo img {
	display: inline-block;
	vertical-align: middle;
}
.team_logo_text {
	display: inline-block;
	font-weight: 400;
	letter-spacing: 2px;
	color: #1cbeca;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	vertical-align: middle;
	margin-left: 15px;
	font-family: ITC Avant Garde Gothic Medium;
}
.team_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 50px 0 100px;
	max-width: 1280px;
}
.team_list li {
	width: 48%;
	margin-bottom: 35px;
}
.member_image_wrap {
	display: inline-block;
	float: left;
	width: 122px;
	border-radius: 50%;
	border: 1px solid #565a93;
	margin-right: 30px;
}
.member_image {
	padding-bottom: 104%;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}
.member_info {
	overflow: hidden;
}
.member_name {
	font-family: Quicksand;
	font-weight: 700;
	color: #2b2b2b;
	font-size: 17px;
	line-height: 32px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.member_title {
	font-family: Quicksand;
	font-weight: 700;
	color: #2b2b2b;
	font-size: 15px;
	line-height: 32px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.member_text {
	font-family: Quicksand;
	font-weight: 400;
	color: #2b2b2b;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 1px;
}
.dot_blue,
.dot {
	position: absolute;
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: #e6e6e6;
	z-index: 999;
	border-radius: 50%;
}
.dot_blue {
	background: #546095;
	width: 8px;
	height: 8px;
}
.dot1 {
	top: 7%;
	left: 14%;
}
.dot2 {
	top: 78%;
	left: 4%;
}
.dot3 {
	top: 88%;
	left: 34%;
}
.dot4 {
	top: 6%;
	left: 25%;
}
.dot5 {
	top: 12%;
	left: 14%;
}
.dot6 {
	top: 40%;
	right: 16%;
}

@media screen and (max-width: 960px) {
	.header_heading {
		padding: 0 6% 30px;
	}
	.header_bg {
		height: 710px;
	}
	.header:before {
		display: inline-block;
		top: 2%;
		left: 3%;
	}
	.header:after {
		top: 1%;
		right: 2%;
	}
	.team {
		position: relative;
		background-position: 180% 12%;
	}
	.team_list:after,
	.team:after,
	.team:before {
		content: "";
		position: absolute;
		display: inline-block;
		width: 511px;
		height: 518px;
		background: url(./img/bg_logo.png) no-repeat center;
		background-size: contain;
		z-index: -1;
	}
	.team:before {
		left: -300px;
		top: 25%;
	}
	.team:after {
		left: -300px;
		top: 55%;
	}
	.team_list:after {
		right: -350px;
		top: 34%;
	}
	.team_list {
		position: relative;
		max-width: 700px;
		margin: 0 auto;
		padding: 40px 0 80px;
	}
	.team_list li {
		width: 100%;
		margin-bottom: 65px;
	}
	.member_image_wrap {
		width: 32%;
		padding: 5px;
		margin-right: 5%;
		margin-bottom: 5px;
		background: #fff;
	}
	.member_info {
		overflow: visible;
	}
	.member_name,
	.member_title {
		font-size: 18px;
		line-height: 32px;
		vertical-align: middle;
	}
	.member_name {
		padding-right: 10px;
		margin-right: 10px;
		position: relative;
		float: left;
	}
	.member_name:after {
		content: "";
		display: inline-block;
		width: 2px;
		height: 18px;
		background: #2b2b2b;
		position: absolute;
		right: 0;
		top: 6px;
	}
	.member_text {
		margin-top: 15px;
		font-size: 15px;
		line-height: 27px;
	}
}
@media screen and (max-width: 500px) {
	.header_bg {
		height: 590px;
	}
	.header_heading {
		line-height: 50px;
		font-size: 38px;
		padding-bottom: 30px;
	}
	.header_text {
		font-size: 24px;
		line-height: 38px;
		margin-bottom: 50px;
		width: 90%;
	}
	.header_button {
		font-size: 14px;
		padding: 8px 30px 6px;
	}
	.member_name{
		padding-right: 0;
		float: none;
		line-height: 22px;
		margin-bottom: 5px;
	}
	.member_name:after{
		display: none;
	}
	.member_title {
		display: block;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 5px;
	}
	.team_logo_text {
		display: block;
		margin: 15px 0 0;
	}
	.member_image_wrap {
		padding: 3px;
	}
}
@media screen and (max-width: 400px) {
	.header_bg {
		height: 520px;
	}
	.about_text {
		font-size: 17px;
		line-height: 38px;
	}
	.subscribe_fields input {
		width: 60%;
	}
	.subscribe_fields button {
		width: 38%;
	}
}